<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      here are some links:
    </p>
    <ol>
      <% for (i=0; i<links.length; i++) { %>
        <li>
          <a href= <%= links[i].url %> >link to <%- links[i].title %> </a>
        </li>
      <% }  %>
      <li>
        <a href="/_projects/tests/d3/d3_003.html">
          d3 container 003
        </a>
      </li>
      <li>
        <a href="/linksdemo">
            links demo
        </a>
      </li>
    </ol>
  </body>
</html>
