<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <%= data %>
    </p>

    <ol>
      <% for (var i = 0; i < data.length; i++) {  %>
        <li>
          <%= data[i].url %>
        </li>
      <%  } %>
    </ol>
<p>
  <a href="https://www.google.com">Google Here!!!!</a>
</p>

  </body>
</html>
