<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Why would you use <%= title %> to teach?  Let us explain.</p>
    <img src=
    <%= imageUrl %>
      alt="a game mechanic"
      height="400" width="800">
    <h1><%=rationale%></h1>
    </body>
</html>
